.container {
  display: flex;
}

.container-column {
  display: flex;
  flex-direction: column;
}

@keyframes example {
    from {
      height: 2em;
    }
    to {
      height: 22em;
    }
}

.listBoxItem {
  order: 1;
  align-items: stretch;
  justify-content: center;
  background-color: red;
  height: 2em;
  border-width: 1px;
  border-color: black;
  padding: .2em;
  /*margin: .2em;*/
  border-style: solid;
  box-shadow: 0 8px 6px -6px black;
  overflow: hidden;
  animation-name: example;
  animation-duration: .5s;
  transition: height 2s;
}

.listBoxItemHeader {
  order: 1;
  background-color: #77857F;
  /*border-width: 1px;*/
  /*border: solid;*/
  /*margin: .2em;*/
  padding: .2em;
  height: 1.2em;
  box-shadow: 0 8px 6px -6px grey;
}

.listBoxItemHeader::selection {
  background-color: inherit;
  color: white;
}

.listBoxItemContent {
  order: 1;
  height: 0;
  transition: height 2s;
  visibility: hidden;
  font-family: sans-serif;
  font-size: 18px;
  color: black;
  background-color: white;
  /*padding: .5em;*/
}

/*.exListBoxItemContent {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 20em;
  padding: .5em;
}*/

.animatedListBoxItemContent {
  visibility: visible;
  display: block;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  /*height: 20em;*/
  padding: .5em;
  /*animation-duration: 2s;*/
}
