* {
  box-sizing: content-box;
}

body, main {
  height: 100vh;
}

body, main, h1 {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  background-color: #59B099;
}

article {
  background-color: #C2C5C3;
}

main>article {
  margin: 100px 10% 0 10%;
}
