* {
  box-sizing: content-box;
}

body, main {
  height: 100vh;
}

body, main, h1 {
  margin: 0;
  padding: 0;
}

main {
  /*text-align: center;*/
  background-color: #59B099;
}

article {
  background-color: #C2C5C3;
}

main>article {
  position: absolute;
  margin-top: 100px;
  left: 10%;
  right: 10%;
}
