* {
  box-sizing: content-box;
}

/*body, main {
  height: 100vh;
}*/

body, main, h1, p, article, section {
  margin: 0;
  padding: 0;
}

body {
  /*text-align: center;*/
  background-color: #aa781b;
}

article {
  background-color: #aa7899;
}

main>article {
  margin: 100px 10% 0 10%;
}
